.widget-newslist-6 { margin-bottom:20px; }
.widget-newslist-6 ul { position: relative;}
.widget-newslist-6 li {float: left;}
.widget-newslist-6 li a { display: block; padding: ${listPadd.value}px; background: ${defaultB.value};}
.widget-newslist-6 ._img {border: 1px solid ${imgBorderColor.value};margin-bottom: ${marginBottom.value}px;}
.widget-newslist-6 ._img img { width: 100%;}
.widget-newslist-6 ._i { color: #999; }
.widget-newslist-6 ._title { font-size: ${titleSize.value}px; cursor: pointer;}
.widget-newslist-6 ._p { line-height: 1.6em; cursor: pointer;color: #555; }
.widget-newslist-6 li a:hover { background: ${hoverB.value};}
.widget-newslist-6 li a:hover ._img { border-color: ${mainColor.value};}
.widget-newslist-6 li a:hover ._title{color: ${mainColor.value};}
@media screen and (max-width: 480px) { 
  .widget-newslist-6 li { float: none; width: auto; margin-right: 0;}
}
