.widget-prodetail-1 { overflow: hidden; *zoom: 1; border:1px solid ${boxBorderC.value}; padding:20px 2%;}
.widget-prodetail-1-img { float: left; width: ${leftWidth.value}%;}
.widget-prodetail-1-img ._album_list { margin-top: ${albumMT.value}px;}
.widget-prodetail-1-img ._album_list li { cursor: pointer; }
.widget-prodetail-1-img ._album_list .album_img{border:${albumBW.value}px solid ${albumBC.value};}
.widget-prodetail-1-img ._album_list .active .album_img{border-color:${albumActiveBC.value};}
.widget-prodetail-1-detail { float: right; width: ${rightWidth.value}%;}
.widget-prodetail-1-detail ._title { font-size: ${titleSize.value}px; font-weight: ${titleWeight.value}; line-height: ${titleHeight.value}px; overflow: hidden;height: ${titleHeight.value}px; color: ${titleColor.value}; margin-bottom:${titleMB.value}px; }
.widget-prodetail-1-detail ._intro{ margin-bottom:${textMB.value}px;}
.widget-prodetail-1-detail ._other-t{ font-size:14px; margin-bottom:${otherMB.value}px;}
.widget-prodetail-1-detail ._other-sele{ width:${seleWidth.value}px; height:${seleHeight.value}px; line-height:${seleHeight.value}px; background:${seleBG.value}; border:1px solid ${seleBorderC.value}; border-radius:4px;}
@media only screen and (max-width: 480px) { 
.widget-prodetail-1-img, .widget-prodetail-1-detail { float: none; width: auto;}
}
