.widget-newslist-7 { margin-bottom:20px; }
.widget-newslist-7 li { clear:both; overflow:hidden; padding:6px 10px; height:40px; line-height:40px; position:relative;}
.widget-newslist-7 ._time { width:12%; min-width:100px; float:left; font-family:Verdana; font-size:14px;}
.widget-newslist-7 ._title { width:83%; font-weight:normal; font-size:${titleSize.value}px; float:left; white-space:nowrap;text-overflow:ellipsis;overflow:hidden; }
.widget-newslist-7 ._download { width:60px; height:40px; position:absolute; right:5%; top:6px; overflow:hidden;}
.widget-newslist-7 ._download img { position:absolute; left:0; top:0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
.widget-newslist-7 ._download img._hover { display:none; }

.widget-newslist-7 li:nth-child(odd),.widget-newslist-7 li.odd { background-color:${listBG.value}; }

.widget-newslist-7 li:hover a,.widget-newslist-7 li:hover ._title,.widget-newslist-7 li:hover ._time { color:${hoverColor.value}; }
.widget-newslist-7 li:hover ._download img { display:none; }
.widget-newslist-7 li:hover ._download img._hover { display:block; }

@media only screen and (max-width:480px) { 
  .widget-newslist-7 ._time { width:auto; min-width:0; margin-right:10px; }
  .widget-newslist-7 ._title { width:65%; }
}