.widget-history-2 { background: #ffffff; cursor: default; }
.widget-history-2 ._year { position: relative; height: 40px; margin-bottom: 20px; border-bottom: 1px dotted #333333; }
.widget-history-2 ._year strong { position: absolute; width: 86px; height: 66px; padding-top: 20px; background: url(/widget/history/2/year.png) no-repeat; left: 0; top: 0; text-align: center; font-size: 16px; color: #008aff; line-height: 1.1em; font-size: 22px; }
.widget-history-2 ._year span { color: #c9c9c9; display: block; font-size: 18px; }
.widget-history-2 ._list li { padding: 20px 20px 20px 88px; background: url(/widget/history/2/list.png) 34px 0 no-repeat; color: #555555; }
.widget-history-2 ._list li strong { display: block; font-size: 20px; line-height: 42px; }
.widget-history-2 ._list li:hover { background: url(/widget/history/2/list_hover.png) 33px 0 no-repeat; color: ${hoverColor.value}; text-decoration: underline; }
@media only screen and (max-width: 40rem) {
.widget-history-2 ._list li { padding-left: 60px; }
}

