.widget-prolist-13 li { padding: 10px; border: 1px solid #cccccc; overflow: hidden;  *zoom: 1;
margin-bottom: ${proMB.value}px; }
.widget-prolist-13 li ._img { float: left; width: ${imgWidth.value}%; }
.widget-prolist-13 li ._nr { float: right; width: ${infoWidth.value}%; }
.widget-prolist-13 li ._name { font-size: ${titleSize.value}px; font-weight: ${titleWeight.value}; margin-bottom: ${titleMB.value}px; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.widget-prolist-13 li ._canshu { line-height: 26px; height: 52px; overflow: hidden; margin-bottom: 5px; }
.widget-prolist-13 li ._more .ion { color: ${icoColor.value}; font-size: 14px; }
.widget-prolist-13 li.hover { background: ${BGHover.value}; }
@media only screen and (max-width: 480px) {
.widget-prolist-13 li{ padding:0;}
.widget-prolist-13 li ._img { width: 100%%; float: none;}
.widget-prolist-13 li ._nr { width: 100%; float: none; margin-top: 10px; margin-bottom: 0;}
}
