.widget-prodetail-3 { overflow: hidden;  *zoom: 1;}
.widget-prodetail-3-img { float: left; width: ${leftWidth.value}%; }
.widget-prodetail-3-img ._img { position: relative; height: 0; overflow: hidden; padding-bottom: 75%; }
.widget-prodetail-3-img ._img img { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  *height: auto;}
.widget-prodetail-3-detail { float: right; width: ${rightWidth.value}%; }
.widget-prodetail-3-detail ._detail { line-height: 20px; margin-top:${textMT.value}px; }
.widget-prodetail-3-detail ._price { font-size: ${priceSize.value}px; color: ${priceColor.value}; margin-top:${priceMT.value}px; }
.widget-prodetail-3-detail ._title { font-size: ${titleSize.value}px; font-weight: ${titleWeight.value}; color: ${titleColor.value}; height: 34px; line-height: 34px; }
.widget-prodetail-3-detail ._tip { height: 28px; border-bottom: 1px solid #cccccc; }
.widget-prodetail-3-detail ._tools { margin-top:${btnMt.value}px; }
.widget-prodetail-3-detail ._tools li { margin-right: 5px; vertical-align: top; }
.widget-prodetail-3-detail ._tools ._link a { display: inline-block;  border-radius: 3px;  cursor: pointer; padding: 0 20px; background: ${btnBGC.value}; color: ${btnSizeColor.value}; border: 1px solid ${btnBDC.value}; height: ${btnHeight.value}px; line-height: ${btnHeight.value}px; font-size: ${btnSize.value}px; }
.widget-prodetail-3-detail ._tools ._link a:hover { color: ${btnSizeColorHover.value}; border-color: ${btnBDCHover.value}; background: ${btnBGCHover.value}; }
@media only screen and (max-width: 480px) {
.widget-prodetail-3-img,  .widget-prodetail-3-detail { float: none; width: auto;}
.widget-prodetail-3-img ._img,  .widget-prodetail-3-detail ._detail { height: auto;}
}
