.widget-job-4 ._jcon { margin-bottom: 20px; }
.widget-job-4 ._title { font-size: 18px; color: #333333; }
.widget-job-4 ._part { padding: 10px; border-bottom: 1px solid #cccccc; line-height: 26px; }
.widget-job-4 ._detailBtn { padding: 10px 0; }
.widget-job-4 ._btn { display: inline-block; padding: 0 30px; border-radius: 3px; color: #ffffff; background: #cccccc; cursor: pointer; line-height: 26px; margin-right: 10px; }
.widget-job-4 ._btn1 { background: #3bb4f2; }
.widget-job-4 ._btn1:hover { background: #10a0ea; }
