.widget-form-5 { float: right; height: 34px; }
.widget-form-5 .head-search-quick { float: left; line-height: 34px; }
.widget-form-5 .head-search-quick a { margin: 0 .5em; }
.widget-form-5 .head-search-quick a:hover{color: ${mainColor.value};}
.widget-form-5 .head-search-form { float: left; height: 32px; line-height: 32px; border: 1px solid ${borderColor.value}; border-left: 0; }
.widget-form-5 .head-search-item { float: left; border: 0; border-right: 1px solid ${borderColor.value}; border-left: 1px solid ${borderColor.value}; 
	height: 32px;  line-height: 32px;width: 68px; margin-right: 1em; }
.widget-form-5 .head-search-input,.widget-form-5 .head-search-submit{border:0;background:none;}
.widget-form-5 .head-search-submit{cursor: pointer;font-size:1.5em;vertical-align: middle;}
.widget-form-5 .head-search-submit .ion{margin:0;}
.widget-form-5 .head-search-submit:hover{opacity: .8;}
.widget-form-5 .head-search-form:hover,.widget-form-5 .head-search-form:hover .head-search-item{border-color:${mainColor.value};}