.widget-nav { position:relative; z-index:10;}
.widget-nav > ul { position:relative; z-index:5;}
.widget-nav > ul > li { width:20%; float:left; position:relative;}
.widget-nav > ul > li > a { display:block; text-align:center; font-size:14px; height:50px; line-height:50px; font-weight:bold;}

/*下拉css*/
.widget-nav li .nav_layer12{ position:absolute; top:50px; left:0;width: 100%; display:none;height: 260px;}
.setWrapbg{ width:100%; background-color:#717461; height:260px; position:absolute; top:50px; display:none;}
.widget-nav li .nav_layer12 li{ width:100%; float:none; text-align:center;}
.widget-nav li .nav_layer12 li a{ color:${textColor.value};font-size: ${fontSize.value};display: block;line-height: 40px;text-align:center;}
.widget-nav li .nav_layer12 li:hover a{color:${hoverColor.value}}
.widget-nav li:hover .nav_layer12{ background-color:${hoverBackgroundColor.value};}


.widget-nav .hover > a { color:#0080cc;}
.mobile_key { display:none;}
@media only screen and (max-width: 640px) {
.mobile_key { display:block;}
}
