.widget-newslist-4 { margin-bottom:20px; }
.widget-newslist-4 li { margin-top:-1px; vertical-align:top; border:1px solid #ededed; background:${defaultBG.value};}
.widget-newslist-4 li a {position:relative;  display:block; overflow:hidden; padding-left:45px; transition:none; *zoom:1; }
.widget-newslist-4 ._mark,.widget-newslist-4 ._title { height:${listHeight.value}px; line-height:${listHeight.value}px;}
.widget-newslist-4 ._mark { position:absolute; top:0; left:0; width:45px;}
.widget-newslist-4 ._mark:before { content:"+"; position:absolute; left:17px;top:0px; font-weight:700; font-size:${iconSize.value}px; font-family:tahoma;}
.widget-newslist-4 ._title { padding:0 30px 0 10px; cursor:pointer;}
.widget-newslist-4 ._title ._t { font-size:${titleSize.value}px; float:left; width:88%;}
.widget-newslist-4 ._title ._date { float:right; text-align:right; color:${dateColor.value}; width:12%;}
.widget-newslist-4 ._p { display:none; line-height:20px; overflow:hidden;  margin:20px 30px 20px 0; color:${textColor.value};}
.widget-newslist-4 ._img { width:200px; float:left; margin-right:3%;}
.widget-newslist-4 ._text { font-size:12px; height:5.4em; line-height:1.8em; overflow:hidden; padding-top:20px;}

.widget-newslist-4 a:hover, .widget-newslist-4 .hover a { background-color:${curBG.value};}
.widget-newslist-4 a:hover ._title,.widget-newslist-4 .hover ._title { color:${curTitleColor.value}; background:${curTitleBG.value};}
.widget-newslist-4 a:hover ._mark, .widget-newslist-4 .hover ._mark { color:${curTitleColor.value}; background:${curMarkColor.value};}
.widget-newslist-4 a:hover ._mark:before, .widget-newslist-4 .hover ._mark:before {content:"-"; }
.widget-newslist-4 a:hover ._date, .widget-newslist-4 .hover ._date{color:${curTitleColor.value};}
.widget-newslist-4 a:hover ._p, .widget-newslist-4 .hover ._p { display:block;}

@media only screen and (max-width:480px) { 
  .widget-newslist-4 ._title ._t { width:100%;}
  .widget-newslist-4 ._title ._date { display:none;}
  .widget-newslist-4 ._img { width:100%; float:none; margin-right:0; }
  .widget-newslist-4 ._text { height:auto; }
}
