.widget-nav { position:relative; z-index:10;}
.widget-nav > ul > li { width:20%; float:left; position:relative;}
.widget-nav > ul > li > a { display:block; text-align:center; font-size:14px; height:50px; line-height:50px; font-weight:bold;}

/*下拉css*/
.nav_layer02 { display:none; width:${layerWidth.value}; position:absolute; left:0; top:100%; background:${layerColor.value}; padding:0 0 0 10px;}
.nav_layer02 ul { width:38%; float:left;}
.nav_layer02 li { border-bottom:#f0f0f0 1px solid; padding:5px 0;}
.nav_layer02 li a { display:block; line-height:1.5; padding:5px 0; text-align:center;}
.nav_layer02 li a:hover { color:#ffffff; background:#de2123;}
.nav_layer02 ._img { width:59%; float:right; padding-bottom:10px;}
.nav_layer02 ._img img { width:100%; height:auto; display:block;}
.nav_layer02 ._title { font-size:23px; font-family:Arial; color:#000; display:inline-block; white-space:nowrap; border-bottom:#ef0000 2px solid; line-height:2; padding-right:5px;}
/*下拉css end*/

.widget-nav .nav4 .nav_layer02 { left:-80px;}
.widget-nav .last .nav_layer02 { left:auto; right:0;}

.widget-nav .hover > a { color:#ffffff; background:#de2123;}
.widget-nav .hover ._layer { display:block;}
.mobile_key { display:none;}

@media only screen and (max-width: 640px) {
.mobile_key { display:block;}
}












