.widget-form-4 ._welcome { width:98%; background:url(/widget/form/3/bg1.png) 0 bottom repeat-x; padding:20px 10px; color:${welcomeColor.value}; font-size:14px; margin-bottom:10px;}
.widget-form-4 .control-label { text-align:left; padding-top:.4em; font-weight:normal; font-size:14px;}
.widget-form-4 .form-group { margin-bottom:5px;}
.widget-form-4 .blank { min-height:20px; display:none;}
.widget-form-4 .validation { width:30%; min-width:80px; float:left; margin-right:10px;}
.widget-form-4 b { font-weight:normal; margin-left:10px;}
.widget-form-4 .passwordStrength b { margin-left:0;}
.widget-form-4 .btn-primary { width:30%; float:left; margin-right:20px;}
.widget-form-4 .passwordStrength { padding-top:5px;}

.widget-form-4 .form-control{border-radius: ${borderRadius.value};border-color:${borderColor.value}}
.widget-form-4 .btn-primary{background:${okColor.value};border-color:${okBorderColor.value};}
.widget-form-4 .btn-default{background:${resetColor.value};border-color:${resetBorderColor.value}}

@media screen and (max-width: 640px) {

.widget-form-4 .btn-primary { width:auto; padding-left:5%; padding-right:5%;}

}