.widget-newstop-2 { margin-bottom:20px; }
.widget-newstop-2 .box { border:#e5e5e5 1px solid; padding-bottom:100px; position:relative; background-color:#fff;}
.widget-newstop-2 img { width:100%; -moz-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-o-transition:all .5s ease 0s;transition:all .5s ease 0s;}
.widget-newstop-2 ._intro { width:100%; height:auto; position:absolute; left:0; bottom:0; padding:15px 0; background-color:#fff;}
.widget-newstop-2 ._title,.widget-newstop-2 ._text,.widget-newstop-2 ._date { display:block; margin:0 15px; line-height:1.5em; overflow:hidden;}
.widget-newstop-2 ._title { max-height:3em; font-size:${titleSize.value}px; font-weight:normal; margin-bottom:10px; color:${titleColor.value};}
.widget-newstop-2 ._text { font-size:14px; height:0; margin-bottom:0;}
.widget-newstop-2 ._date { color:${dateColor.value};}

.widget-newstop-2 ._intro,.widget-newstop-2 ._text { -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}

.widget-newstop-2 .box:hover ._intro { background-color:${HoverBG.value}; }
.widget-newstop-2 .box:hover ._title,.widget-newstop-2 .box:hover ._text,.widget-newstop-2 .box:hover ._date { color:${HoverColor.value}; }
.widget-newstop-2 .box:hover ._title { font-weight:bold; }
.widget-newstop-2 .box:hover ._text { height:3em; margin-bottom:10px;}
.widget-newstop-2 .box:hover img { transform: scale(1.05);-moz-transform: scale(1.05);-webkit-transform: scale(1.05); }


@media only screen and (max-width: 480px) { 
.widget-newstop-2 .box { margin-bottom:20px;}
.widget-newstop-2 .box ._intro { background-color:${HoverBG.value}; }
.widget-newstop-2 .box ._title,.widget-newstop-2 .box ._text,.widget-newstop-2 .box ._date { color:${HoverColor.value}; }
.widget-newstop-2 .box ._title { font-weight:bold; }
.widget-newstop-2 .box ._text { height:3em; margin-bottom:10px;}
}
