.widget-nav { position:relative; z-index:10;}
.widget-nav > ul > li { width:20%; float:left; position:relative;}
.widget-nav > ul > li > a { display:block; text-align:center; font-size:14px; height:50px; line-height:50px; font-weight:bold;}

/*下拉css*/
.widget-nav li .nav_layer09{ position:absolute; top:40px; left:0;width: 100%; display:none; border-top:3px #e02303 solid;}
.widget-nav li .nav_layer09 li{ width:100%; float:none; text-align:center;}
.widget-nav li .nav_layer09 li a{ background-color:${backgroundColor.value}; color:${textColor.value};font-size: ${fontSize.value};display: block;line-height: 40px;text-align:center;}
.widget-nav li .nav_layer09 li:hover a{ background-color:${hoverBackgroundColor.value}; color:${hoverColor.value}}


.widget-nav .hover > a { color:#0080cc;}
.widget-nav .hover ._layer { display:block;}
.mobile_key { display:none;}
@media only screen and (max-width: 640px) {
.mobile_key { display:block;}
}
