.widget-download-2 { margin-bottom:20px; }
.widget-download-2 ._hd li,.widget-download-2 ._bd ul,.widget-download-2 ._bd li { float:left; }

.widget-download-2 ._hd { border:#eee 1px solid; background-color:${hdBG.value}; padding:12px 0; font-size:${hdSize.value}px; text-align:center; margin-bottom:20px; color:${hdColor.value};}
.widget-download-2 ._hd li { position:relative; height:18px; line-height:18px;}
.widget-download-2 ._hd li:after { content:""; display:block; width:1px; height:100%; overflow:hidden; background-color:#ddd; position:absolute; right:0; top:0; }
.widget-download-2 ._hd li:last-child:after { display:none; }

._d1 { width:${titleWidth.value}%; }
._d2 { width:${dataWidth.value}%; }
._d3 { width:${downloadWidth.value}%; }
._d4 { width:${previewWidth.value}%; }

.widget-download-2 ._bd ul { width:100%; text-align:center; padding:12px 0;}
.widget-download-2 ._bd li { line-height:1.8em; height:1.8em;}
.widget-download-2 ._bd img { vertical-align:middle; margin-top:-3px; margin-right:3px; }
.widget-download-2 ._bd ._d1 { font-size:${listTitleSize.value}px; text-align:left; text-indent:10px; white-space:nowrap;text-overflow:ellipsis;overflow:hidden; }
.widget-download-2 ._bd ._d3 a,.widget-download-2 ._bd ._d4 a { color:${dlColor.value}; }

.widget-download-2 ._bd ul:hover { background-color:${hoverBG.value};}
.widget-download-2 ._bd ul:hover ._d1 { font-weight:bold; }
.widget-download-2 ._bd ul:hover ._d1,.widget-download-2 ._bd ul:hover ._d1 a { color:${hoverTitleBG.value}; }

@media only screen and (max-width:480px) { 

.widget-download-2 ._d2,.widget-download-2 ._d4 { display:none; }
.widget-download-2 ._d1 { width:70%;}
.widget-download-2 ._d3 { width:30%;}

}