.widget-job-2 ._jt { background-color: #e2f4fd; height: 26px; line-height: 26px; margin-top: 10px; overflow: hidden; *zoom: 1;
cursor: pointer; }
.widget-job-2 ._jt strong { float: left; width: 30%; text-align: center; color: #0e90d2; }
.widget-job-2 ._jt span { float: right; }
.widget-job-2 ._jt .ion { font-size: 12px; color: #999999; }
.widget-job-2 ._jc { display: none; }
.widget-job-2 ._jcon { padding: 10px; }
.widget-job-2 ._jt_act .ion { color: #0e90d2; }
@media only screen and (max-width: 40rem) {
 .widget-job-2 ._jt span {
 display: none;
}
}
