.widget-newsdetail-3 ._head { border-bottom: 1px dotted ${lineColor.value};}
.widget-newsdetail-3 ._head ._title { font-size: ${titleSize.value}px; line-height: 1.4; 
color: ${titleColor.value};  margin: 0 0 10px; font-weight:${titleBold.value};}
.widget-newsdetail-3 ._tools { padding: 0 5px; color: ${greyColor.value};}
.widget-newsdetail-3 ._tools a:hover { color: ${lightColor.value};}
.widget-newsdetail-3 .ion { font-size: 1.1em; font-weight: normal;}
.widget-newsdetail-3 ._b2l { float: right;}
.widget-newsdetail-3 .myart { padding: ${contPadd.value}px 0;}
.widget-newsdetail-3 ._detailPage_bottom {border-top: 1px solid ${lineColor.value}; 
  border-bottom: 1px solid ${lineColor.value}; }
.widget-newsdetail-3 ._detailPage_bottom li {line-height: ${relaBarHeight.value}px;  float: left; width: 50%; 
  height: ${relaBarHeight.value}px; margin-left: -1px; border-left: 1px solid ${lineColor.value};
  font-size:${pageFontSize.value}px;}
.widget-newsdetail-3 ._detailPage_bottom ._mark { float: left; margin-right: 10px; }
.widget-newsdetail-3 ._detailPage_bottom ._title {float: left; width: 50%; }
.widget-newsdetail-3 ._detailPage_bottom ._title:hover { color: ${lightColor.value};}
.widget-newsdetail-3 ._detailPage_bottom ._time { float: right; margin-right: 10px;}
.widget-newsdetail-3 ._bottom_bar {text-align: right; height: 40px; margin: 20px 0 0; }
.widget-newsdetail-3 ._bottom_bar .bdsharebuttonbox { float: none;display: inline-block; }
.widget-newsdetail-3 ._bottom_bar ._b2l { display: inline-block; font-size:14px;margin:0 10px;}
@media only screen and (max-width: 480px) { 
  .widget-newsdetail-3 ._title { font-size: 14px; }
}
