.widget-prodetail-2-tab { background: #ffffff; }
.widget-prodetail-2-tab .tab_header { height: 58px;  }
.widget-prodetail-2-tab .tab_t { height: 42px; line-height: 42px; width: auto; padding: 0 20px; border-right: 1px solid #ddd; font-size: 14px; border-top: 3px solid #fff;}
.widget-prodetail-2-tab .tab_t .ion { color: ${tabIcoColor.value}; font-size: ${tabIcoSize.value}px; 
font-weight:normal;}
.widget-prodetail-2-tab .tab_t_cur { border-top: 2px solid #0e90d2; }
.widget-prodetail-2-tab .tab_t.first{ border-left:1px solid #ddd;}
.widget-prodetail-2-tab .tab_c { padding: 0 20px; }
.widget-prodetail-2-tab ._detail { float: right; width: ${rightWidth.value}%; }
.widget-prodetail-2-tab ._title { color: ${titleColor.value}; font-weight:${titleWeight.value}; font-size: ${titleSize.value}px; overflow: hidden; }
.widget-prodetail-2-tab ._intro { margin: 10px 0; line-height: 20px; height: 60px; overflow: hidden; font-size: 12px; }
.widget-prodetail-2-tab ._extend { background: #e2f4fd; padding: 10px 0 10px 20px; line-height: 34px; }
.widget-prodetail-2-tab ._ext_link{ margin-bottom:${linkMB.value}px;}
.widget-prodetail-2-tab ._ext_link a { display: inline-block; }
.widget-prodetail-2-tab ._ext_link a:hover { text-decoration: underline; }
.widget-prodetail-2-tab ._ext_link .ion { color: ${linkIcoColor.value}; font-size: ${linkIcoSize.value}px; }
.widget-prodetail-2-tab ._ext_btn a { display: inline-block; padding: 0 10px; font-size: 14px; color: #ffffff; border-radius: 3px; line-height:${btnHeight.value}px; }
.widget-prodetail-2-tab ._ext_btn a:hover { color: #ededed;  }
.widget-prodetail-2-tab ._ext_btn ._btn1 { background: ${btnCC.value}; margin-right:${btnMR.value}px; }
.widget-prodetail-2-tab ._ext_btn ._btn2 { background: ${btnDC.value}; }
.widget-prodetail-2-tab ._ext_btn .ion { font-size: ${btnIco.value}px; }
.widget-prodetail-2-tab ._pic { float: left; width: ${leftWidth.value}%; }
.widget-prodetail-2-tab ._album_list { margin-top: ${albumMT.value}px;}
.widget-prodetail-2-tab ._album_list li { cursor: pointer; }
.widget-prodetail-2-tab ._album_list .album_img{border:${albumBW.value}px solid ${albumBC.value};}
.widget-prodetail-2-tab ._album_list .active .album_img{border-color:${albumActiveBC.value};}
@media only screen and (max-width: 480px) {
.widget-prodetail-2-tab .tab_header{ height:auto;}
.widget-prodetail-2-tab .tab_t { position: static;}
.widget-prodetail-2-tab ._detail,  .widget-prodetail-2-tab ._pic { width: 100%;}
.widget-prodetail-2-tab .tab_t { border-left: 1px solid #ddd;}
}