.widget-nav { position:relative; z-index:10;}
.widget-nav > ul > li { width:20%; float:left; position:relative;}
.widget-nav > ul > li > a { display:block; text-align:center; font-size:14px; height:50px; line-height:50px; font-weight:bold;}

/*下拉css*/
.widget-nav li .nav_layer07{ position:absolute; top:40px; left:0;width: 100%; display:none;}
.widget-nav li .nav_layer07 li{ width:100%; float:none;}
.widget-nav li .nav_layer07 li a{ background-color:${backgroundColor.value}; color:#fff; position:relative;font-size: ${fontSize.value};display: block;line-height: 40px;padding-left: 12%;}
.widget-nav li .nav_layer07 li a:after{ content:'>'; font-size:${iconSize.value};position: absolute;right: 6%;top: 50%;margin-top: -20px;font-family: cursive;}
.widget-nav li .nav_layer07 li:hover a{ background-color:${backgroundColor2.value}; color:${hoverColor.value}}
.widget-nav li .nav_layer07 li:hover a:after{ color:#0078c5;}


.widget-nav .hover > a { color:#0080cc;}
.widget-nav .hover ._layer { display:block;}
.mobile_key { display:none;}
@media only screen and (max-width: 640px) {
.mobile_key { display:block;}
}
