.widget-newsdetail-4 ._head { text-align: center; }
.widget-newsdetail-4 ._head ._title { font-size: ${titleSize.value}px; line-height: 1.4; 
color: ${titleColor.value}; margin:0 0 10px;font-weight:${titleBold.value};}
.widget-newsdetail-4 ._tools { padding: 0 5px; color: ${greyColor.value};}
.widget-newsdetail-4 ._tools a:hover{color:${lightColor.value};}
.widget-newsdetail-4 .ion { font-size: 1.1em; }
.widget-newsdetail-4 .myart { padding: ${contPadd.value}px 0;}
.widget-newsdetail-4 ._bottom_bar {line-height: ${relaBarHeight.value}px;  height: ${relaBarHeight.value}px; 
  padding: 20px 0; text-align: center; border-top: 1px solid ${lineColor.value};}
.widget-newsdetail-4 ._bottom_bar a { display: inline-block; margin: 0 5px;padding: 0 10px; 
  color: ${pageFontColor.value}; background: ${lightColor.value}; font-size:${pageFontSize.value}px;}
.widget-newsdetail-4 ._bottom_bar a:hover {opacity: .8;}
@media only screen and (max-width: 40rem) { 
  .widget-newsdetail-4 ._bottom_bar a { margin: 0;}
}
